<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wt.pinger">

    <uses-sdk tools:overrideLibrary="android.support.v17.leanback"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/pinger_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- meta -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIn-bFOypPMHP70jra_GECNtCfcu1HWfQ5LpvfZg"/>

        <!-- Activity -->
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".activity.PingActivity"
            android:label="@string/app_name"/>

        <!-- TV -->
        <activity
            android:name=".tv.TvMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- receiver -->
        <receiver
            android:name=".receivers.AppInstallReferrerReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <!-- service -->
        <service
            android:name=".service.CmdService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".service.PingService"
            android:enabled="true"
            android:exported="false"/>

        <!-- provider -->
        <provider
            android:name=".providers.NetworkInfoProvider"
            android:authorities="${applicationId}.providers.networkinfo"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".providers.CmdContentProvider"
            android:authorities="${applicationId}.providers.cmd"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".providers.PingContentProvider"
            android:authorities="${applicationId}.providers.ping"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".providers.DbContentProvider"
            android:authorities="${applicationId}.providers.db"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>