<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wt.pinger"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- meta -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIn-bFOypPMHP70jra_GECNtCfcu1HWfQ5LpvfZg"/>


        <!-- Activity -->
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".activity.PingActivity"
            android:label="@string/app_name"/>

        <!-- receiver -->
        <receiver
            android:name=".receivers.AppInstallReferrerReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <!-- service -->
        <service
            android:name=".service.CmdService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".service.PingService"
            android:enabled="true"
            android:exported="false" />

        <!-- provider -->
        <provider
            android:name=".providers.NetworkInfoProvider"
            android:authorities="com.wt.pinger.providers.networkinfo"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".providers.CmdContentProvider"
            android:authorities="com.wt.pinger.providers.cmd"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".providers.PingContentProvider"
            android:authorities="com.wt.pinger.providers.ping"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".providers.DbContentProvider"
            android:authorities="com.wt.pinger.providers.db"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>